# Project 2
### CS 5/7394 - Applied Machine Learning

- **Due** - March 11 @ 11:59 pm pushed to Github repo
- **Teams** - You can do this project solo or in pairs.  Not 3, not 4 not 5... Max of 2. If a 5394 student pairs with a 7394 student, the pair needs to do the 7394 work.

Below are 6 Kaggle Datasets.  You will choose 1 to work with for this project. 

- [Airfare Prediction Dataset](https://www.kaggle.com/zwartfreak/airline-fare-prediction)
- [Chinese Rest Holiday Dataset](https://www.kaggle.com/holoong9291/chinese-rest-holiday-dataset-2020-to-2022)
- [Jigsaw Toxic Comment Classification Challenge](https://www.kaggle.com/julian3833/jigsaw-toxic-comment-classification-challenge?select=train.csv)
- [Latest Covid 19 Dataset Worldwide](https://www.kaggle.com/sandhyakrishnan02/latest-covid-19-dataset-worldwide)
- [Trains](https://www.kaggle.com/vahidehdashti/machinelearningdatabase-trains?select=trains-original.data)
- [Football Data top 5 Leagues](https://www.kaggle.com/sanjeetsinghnaik/football-data-top-5-leagues)

Merging disparate datasets is a staple of the data exploration process.  Therefore, for which ever data set above that you choose, you will need to independently find **an additional** dataset to merge with your selection.  The only requirement is that it add to the richness of the original dataset. Students in the 7000-level version of the class need to find two additional data sets to merge with the original selection. 

_Note_: If you want to start with a different data set, you need to get Fontenot's OK first.

### Your Tasks

Below, there are cells that provide directions on what to do for the project.  

You can insert as many cells between the ones below as you'd like, but please **Do NOT** change the cells already provided.

### Part 1 - Getting Started

- Import libraries
- Load original Data (which ever one you chose from the provided list) into a data frame. 
- Load your additional data set(s) into a data frame. 
- In a markdown cell, provide a brief description of your the data sets you've chosen to work with.  
- Develop a list of 3 - 4 questions that you hope to be able to answer after the exploration of the data and write them in this section.

Our second dataset was collected here and is the 5 year history of Pfizer Inc. stock performance, you can find it here: https://www.nasdaq.com/market-activity/stocks/pfe/historical

In [127]:
import pandas as pd
import matplotlib.pyplot as plt

covid = pd.read_csv("owid-covid-data.csv")
pfe = pd.read_csv("PFE.csv")

pfe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1259 non-null   object
 1   Close/Last  1259 non-null   object
 2   Volume      1259 non-null   int64
 3   Open        1259 non-null   object
 4   High        1259 non-null   object
 5   Low         1259 non-null   object
dtypes: int64(1), object(5)
memory usage: 59.1+ KB

Our goal is to look at the relationship between worldwide daily new cases and deaths due to COVID-19 and the stock performance of Pfizer Inc. Pfizer Inc. was one of main companies behind the development of a COVID-19 vaccine. First we begin by combining the total new cases and new deaths for all countries by date below.

In [128]:
covid["date"] = pd.to_datetime(covid["date"])
covid.drop(covid.index[covid["location"] != "United States"], inplace = True)
covid['year'] = pd.DatetimeIndex(covid['date']). year
covid["year"].value_counts()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
date,,,,,,,,,,,,,,,,,,,,,
2020-01-01,0.000000e+00,0.0,0.000,0.0,0.0,0.000,0.000000e+00,0.000,0.000,0.000,...,27.900,49.100,87.847,7.980,228.46,2.401,0.0,0.0,0.0,0.000000
2020-01-02,0.000000e+00,0.0,0.000,0.0,0.0,0.000,0.000000e+00,0.000,0.000,0.000,...,27.900,49.100,87.847,7.980,228.46,2.401,0.0,0.0,0.0,0.000000
2020-01-03,0.000000e+00,0.0,0.000,0.0,0.0,0.000,0.000000e+00,0.000,0.000,0.000,...,27.900,49.100,87.847,7.980,228.46,2.401,0.0,0.0,0.0,0.000000
2020-01-04,0.000000e+00,0.0,0.000,0.0,0.0,0.000,0.000000e+00,0.000,0.000,0.000,...,29.800,87.900,178.517,10.080,305.61,3.178,0.0,0.0,0.0,0.000000
2020-01-05,0.000000e+00,0.0,0.000,0.0,0.0,0.000,0.000000e+00,0.000,0.000,0.000,...,29.800,87.900,178.517,10.080,305.61,3.178,98.7,12.3,12.3,7.516748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-04,1.239635e+09,11059888.0,7713896.578,22740246.0,33207.0,25627.866,1.538528e+07,238669.394,131171.436,216258.325,...,1543.134,4735.035,4775.729,510.183,15799.97,136.560,0.0,0.0,0.0,0.000000
2022-01-05,1.250680e+09,11045184.0,8213697.429,22773573.0,33327.0,25429.144,1.559620e+07,210917.802,144700.368,216685.707,...,1543.134,4735.035,4775.729,510.183,15799.97,136.560,0.0,0.0,0.0,0.000000
2022-01-06,1.261523e+09,10843138.0,8510245.284,22804248.0,28471.0,24905.150,1.580131e+07,205107.002,147807.827,217017.573,...,1543.134,4735.035,4775.729,510.183,15799.97,136.560,0.0,0.0,0.0,0.000000
2022-01-07,1.274027e+09,12503728.0,9254946.857,22834650.0,30402.0,25728.004,1.601056e+07,209253.477,150582.264,217285.663,...,1543.134,4735.035,4775.729,510.183,15799.97,136.560,0.0,0.0,0.0,0.000000
2022-01-08,1.282811e+09,8783952.0,9597134.853,22855603.0,20961.0,26018.298,1.615203e+07,141464.026,121323.276,217540.000,...,1543.134,4735.035,4775.729,510.183,15799.97,136.560,0.0,0.0,0.0,0.000000

We remove all rows from the Pfizer stock performance dataset that contain before the beginning of our COVID-19 data set begins, meaning any rows with dates prior to the beginning of 2020.

In [134]:
pfe["Date"] = pd.to_datetime(pfe["Date"])
pfe.drop(pfe.index[pfe["Date"].apply(lambda x: x.year) < 2020], inplace = True)

2020    253
2021    252
2022     39
Name: Date, dtype: int64

          Date Close/Last    Volume      Open      High       Low
539 2020-01-08     $38.18  15563490  $37.8868  $38.3364   $37.877
540 2020-01-07    $37.877  19106670  $38.2387  $38.2484  $37.8086
541 2020-01-06   $38.0041  14964450  $37.9454  $38.1214  $37.8281
542 2020-01-03    $38.053  14160530  $37.8477   $38.356  $37.7988
543 2020-01-02   $38.2582  15668510  $38.4146  $38.4635  $37.9992

### Part 2 - Data Inspection

Write some code to summarize the datasets.  Think about the following questions:
- What type of data is each variable? (think like a data scientist here, not a computer scientist)
- What is the total size of the data sets?
- What time boundaries are there in the dataset?  IOW, what time frame do they span?
- Are there any missing values in any of the variables? 

Do this with Intentionality.  Don't skimp.

In [ ]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153172 entries, 0 to 153171
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    153172 non-null  object
 1   continent                                   143944 non-null  object
 2   location                                    153172 non-null  object
 3   date                                        153172 non-null  object
 4   total_cases                                 150522 non-null  float64
 5   new_cases                                   150431 non-null  float64
 6   new_cases_smoothed                          149280 non-null  float64
 7   total_deaths                                133279 non-null  float64
 8   new_deaths                                  133441 non-null  float64
 9   new_deaths_smoothed                         133309 non-null  float64
 10  total_cases_per_million                     149820 non-null  float64
 11  new_cases_per_million                       149729 non-null  float64
 12  new_cases_smoothed_per_million              148583 non-null  float64
 13  total_deaths_per_million                    132590 non-null  float64
 14  new_deaths_per_million                      132752 non-null  float64
 15  new_deaths_smoothed_per_million             132620 non-null  float64
 16  reproduction_rate                           114970 non-null  float64
 17  icu_patients                                19330 non-null   float64
 18  icu_patients_per_million                    19330 non-null   float64
 19  hosp_patients                               21303 non-null   float64
 20  hosp_patients_per_million                   21303 non-null   float64
 21  weekly_icu_admissions                       4339 non-null    float64
 22  weekly_icu_admissions_per_million           4339 non-null    float64
 23  weekly_hosp_admissions                      8696 non-null    float64
 24  weekly_hosp_admissions_per_million          8696 non-null    float64
 25  new_tests                                   60733 non-null   float64
 26  total_tests                                 62146 non-null   float64
 27  total_tests_per_thousand                    62146 non-null   float64
 28  new_tests_per_thousand                      60733 non-null   float64
 29  new_tests_smoothed                          74236 non-null   float64
 30  new_tests_smoothed_per_thousand             73535 non-null   float64
 31  positive_rate                               69318 non-null   float64
 32  tests_per_case                              68655 non-null   float64
 33  tests_units                                 75706 non-null   object
 34  total_vaccinations                          39438 non-null   float64
 35  people_vaccinated                           37767 non-null   float64
 36  people_fully_vaccinated                     34895 non-null   float64
 37  total_boosters                              12431 non-null   float64
 38  new_vaccinations                            32684 non-null   float64
 39  new_vaccinations_smoothed                   71698 non-null   float64
 40  total_vaccinations_per_hundred              39438 non-null   float64
 41  people_vaccinated_per_hundred               37767 non-null   float64
 42  people_fully_vaccinated_per_hundred         34895 non-null   float64
 43  total_boosters_per_hundred                  12431 non-null   float64
 44  new_vaccinations_smoothed_per_million       71698 non-null   float64
 45  new_people_vaccinated_smoothed              70460 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  70460 non-null   float64
 47  stringency_index                            119510 non-null  float64
 48  population                                  152153 non-null  float64
 49  population_density                          136343 non-null  float64
 50  median_age                                  127234 non-null  float64
 51  aged_65_older                               125852 non-null  float64
 52  aged_70_older                               126551 non-null  float64
 53  gdp_per_capita                              127647 non-null  float64
 54  extreme_poverty                             84258 non-null   float64
 55  cardiovasc_death_rate                       126237 non-null  float64
 56  diabetes_prevalence                         132708 non-null  float64
 57  female_smokers                              97777 non-null   float64
 58  male_smokers                                96369 non-null   float64
 59  handwashing_facilities                      63222 non-null   float64
 60  hospital_beds_per_thousand                  114047 non-null  float64
 61  life_expectancy                             142953 non-null  float64
 62  human_development_index                     125712 non-null  float64
 63  excess_mortality_cumulative_absolute        5234 non-null    float64
 64  excess_mortality_cumulative                 5234 non-null    float64
 65  excess_mortality                            5234 non-null    float64
 66  excess_mortality_cumulative_per_million     5234 non-null    float64
dtypes: float64(62), object(5)
memory usage: 78.3+ MB

In [ ]:
flights.info()
flights["MKT_UNIQUE_CARRIER"].value_counts()

### Part 3 - Data Description

- Create a data description (data dictionary) for your data sets.
    - Describe each variable
    - If categorical, what levels are present? If the levels are encoded, what do the codes mean?
    - If numeric, provide min, max, median and any other univariate stats you'd like to add in. 
- Where appropriate, provide histograms or other visualizations to characterize each variable.

### Part 4 - Merge the data

Now that you have a better feel for each of your two (or three, for the 7394 students) data sets, it is time to merge them. Describe your strategy for merging the data sets and then actually perform the merge.  

Develop a strategy for verifying that the data is properly merged (hoping and finger-crossing are not valid strategies).

### Part 5 - Explore Bivariate relationships

- Choose a reasoned set of variables to explore further.  You don't have to explore all possible pairs of variables, nor do we want to grade that much.  Choose 7 - 9 variables. One should be a variable that you'd like to predict (target variable) using the others (predictor variables). 
- List your predictor variables
- List your target variable
- Briefly describe why you have chosen these. 

Use any of the available visualizations from Seaborn to explore the relationships between the variables. Explore the relationships among the predictor variables as well as the relationship between each predictor variable and the target variable.  Which of the predictor variables are most strongly related?  Are there any interesting relationships between categorical predictors and numeric predictors?  If there are any dichotomous variables, does that influence any of the relationships? Are the relationships positive or negative? 

Below each plot, you should provide a description and interpretation of the plot.  Make sure to include why the variables in that plot were chosen and what you hope the reader would gain from it as well.